{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<main>
    <div id="room-name-wrapper">
        <h1 id="room-name">Room Name: </h1>
    </div>

    <div id="streams"></div>

    <div id="controls">
        <div class="icon-wrapper">
            <img class="icon" id="btn-cam" src="{% static 'images/cam.png'%}" />
            <img class="icon" id="btn-mic" src="{% static 'images/mic.png'%}" />
            <img class="icon" id="btn-exit" src="{% static 'images/exit.png'%}" />
        </div>
    </div>

</main>
<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.12.1.js'%}"></script>
<script type="text/javascript" src="{% static 'JavaScript/stream.js'%}"></script>
{% endblock content %}